@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Raleway:wght@100..900&display=swap');

/* font-family: */
/* font-family:  */

:root {
    --orange-color: #DA722C;
    --dark-blue: #023047;
    --blue-color: #057ADA;
    --light-blue: #6F7DFB;
    --dark: #070917;
    --light: #E8F7FB;
    --raleway: "Raleway", sans-serif;
    --popins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 1366px;
    margin: auto;
}

.btn {
    padding: 16px 32px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 24px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.btn.dark-btn {
    background: var(--dark);
    color: var(--light);
}

.btn.light-btn {
    background: var(--orange-color);
    color: var(--dark);
}

.btn.enroll-icon {

    display: inline-flex;
    align-items: center;
    gap: 10px;
}

/* header section */
header {
    background-image: url(./images/Rectangle\ 9.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    color: var(--light);
    padding-top: 30px;
    position: fixed;
    width: 1366px;
    z-index: 1;
}

header nav .logo {
    font-weight: 900;
    font-size: 40px;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 60px;
}

header nav ul li {}

header nav ul li a {
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    font-size: 16px;
}

/* hero section */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    height: 100vh;
    padding-top: 60px;
}

.left-hero-section {
    width: 457px;

}

.left-hero-section h1 {
    font-weight: bolder;
    font-size: 50px;
}

.left-hero-section p {
    font-size: 16px;
    line-height: 200%;
    margin: 30px 0;
}

.achivment-card .content {
    background: var(--light);
    color: var(--dark);
    width: 206px;
    height: 95px;
    text-align: center;
    border-radius: 24px;
    position: absolute;
    z-index: 10;

}


.student-enroll .content h1 {
    margin-top: 3px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0px;
}

.student-enroll .content p {
    font-size: 16px;
    margin-top: 0px;
}

.student-enroll {

    left: 45%;
    top: 330px;
    position: absolute;
}

.rating {
    left: 40%;
    top: 550px;
    margin-top: 0;
    position: absolute;

}

/* .content{
    background: var(--light);
    position: absolute;
    z-index: 10;
     
}*/
.rating .content div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
}

.rating .content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: -10px;
}

.rating .content img {
    margin-bottom: 24px;
}

.rating .content p {
    font-size: 16px;
    margin-top: -25px;
    padding-bottom: 20px;
}

.rating .bg {
    position: absolute;
    width: 213px;
    height: 100px;
    background-color: #057ADA;
    border-radius: 24px;
    top: 8px;
    left: 8px;
    /* z-index: -1; */
}

.student-enroll .bg {
    position: absolute;
    width: 213px;
    height: 100px;
    background-color: #057ADA;
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}

.right-hero-section img {
    height: 522px;
    transform: translateY(91px);
    margin-left: 500px;

}

/* testimonial section */

.left-testimonials .testimonial-card:last-child{
    transform: translateX(30px);
}

.testimonials-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
    ;
    margin-top: 40px;
    position: relative;

}

.right-testimonials {
    width: 560px;
}

.right-testimonials h1 {
    font-size: 60px;
    font-weight: bold;
}

.testimonial-card {
    position: relative;
    width: 442px;
    height: 222px;
    box-shadow: 0 5px 5px 0.22 gray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 24px;
    margin-top: 40px;
    
    background-color: white;
    /* z-index: -1; */
 }


.testimonial-card .content {
    text-align: center;
    width: 442px;
    padding: 24px 32px;
    border-radius: 24px;
} 

.left-testimonials::after{
    content: "";
    height: 550px;
    width: 28px;
    border-radius: 24px;
    background-color: var(--dark-blue);
    position: absolute;
    top: 0px;
    left: 50px;
    z-index: -1;
   
    
}
.testimonial-card .content.bg-blue {
    background: var(--blue-color);
}

.testimonial-card .content.bg-orange {
    background: var(--orange-color);
}


.testimonial-card .info {
    display: flex;
    justify-content: space-around;
    position: relative;

}




/* courses secton */
.courses-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308c 100%);
    margin: 70px 0px;
    padding: 70px 0px;
}

.light-heading {
    text-align: center;
    padding-bottom: 70px;
    font-size: 60px;
    font-weight: bolder;
    color: var(--light);

}

.course-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    margin-bottom: 100px;

}

.course-card {
    width: 530px;
    height: 418px;
    background: var(--light);
    border-radius: 24px;
    padding: 0 32px;
    margin: 40x 0;

}
.course-cards .course-card::after{
    content: "";
  background: var(--dark-blue);
    height: 8px;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    width: 442px;
    
}

.course-card .info {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.course-card img {
    width: 100%;
    margin: -5px;
}

.course-card .info h1 {
    font-family: var(--raleway);
    font-size: 30px;
    font-weight: bolder;
    color: var(--dark-blue);
}

.course-card .info .duration {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    margin-top: 30px;
}

.course-card .info .duration img {
    width: 16px;
}

.course-card .info .duration span {
    font-size: 16px;
    font-weight: bolder;
}

.courses-section .wrapper {

    position: relative;
    padding-bottom: 100px;
}

.courses-section .btn{
    position: absolute;
    right: 0px;
    bottom: -10px;
}

/* app section */
.app-section{
    margin: 100px auto;
    text-align: center;
}
.app-section h1{
    font-size: 60px;
    font-weight: bolder;
    color: var(--dark-blue);
    padding-bottom: 0;
    margin-bottom: 0;
}
.app-section p{
    /* margin-top: 0; */
    color: var(--dark-blue);
}
.app-section .app-btns{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 45px;
}
.app-section .app-btns .app-btn{
    display: flex;
    background: var(--dark);
    padding: 20px;
    gap: 14px;
    align-items: center;
    justify-content: center;
    width: 310px;
}
.app-btn span{
    color: var(--light);
    font-size: 24px;
}

/* footer section */

footer{
    background: var(--dark);
}
.links-containers{
display: grid;
grid-template-columns: 2fr 2fr 3fr;
}
.links-containers h3{
    color: var(--orange-color);
}
.links-containers a{
    color: var(--light);
    text-decoration: none;
    font-size: 14px;
}
.links-containers ul{
    list-style: none;
    padding-left: 20px;
}
.links-containers ul li{
    margin: 9px 0;
}

.links-containers .contact .social{
    display: flex;
    gap: 28px;
}

form input{
 width: 520px;
 height: 40px;
 border-radius: 8px;   
 padding: 20px;
}
form{
    margin-top: 20px;
 position: relative;
}
form .submit-btn{
    padding: 4px 28px;
    border-radius: 8px;
    position: absolute;
    right: 50px;
    top: 9px;
    background-color: var(--dark-blue);
    color: var(--light);
}

footer .copyright{
    color: var(--light);
    font-size: 16px;
    padding: 70px 0px;
    margin: 0;
}